[Unit]
Description=VortexL2 Port Forward - Port %i
After=network.target vortexl2-tunnel.service
Requires=network.target
Documentation=https://github.com/iliya-Developer/VortexL2

[Service]
Type=simple
# NOTE: {remote_ip} is replaced by ForwardManager when installing the template
ExecStart=/usr/bin/socat TCP4-LISTEN:%i,reuseaddr,fork TCP4:{remote_ip}:%i
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
